.movies {
  max-width: 1140px;
  margin: auto;
  padding: 0;
}

.movies__wrapper {
  border-bottom: 1px solid #424242;
  padding-bottom: 69px;
}

.movies__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 45vh;
}

.movies__error__text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .movies {
    margin: 0;
    padding: 0 30px;
  }
  .movies__wrapper {
    padding-bottom: 109px;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    margin: 0;
    padding: 0 10px;
  }
}
