.header {
  background-color: #073042;
  margin: 0 auto;
  padding: 0 calc((100vw - 1140px) / 2);
  max-width: 100%;
  min-height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_background-black {
  background-color: #202020;
}

@media (min-width: 861px) and (max-width: 1200px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 860px) {
  .header {
    padding: 0 30px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .header {
    padding: 0 14px;
  }
}
